*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* header */
header{
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: black;
    /* background-color: #0f1111; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 2;
}

/* nav logo */
.nav-logo{
    height: 50px;
    width: 104px;
    padding: 0.13rem 0.5rem 0.13rem 0.5rem;
}

.logo{
    background-image: url("other-assets/logo.png");
    background-size: cover;
    height: 100%;
    width: 92%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    cursor: pointer;
}

.border:hover{
    border: 1.5px solid white;
}

/* nav country */
.nav-address{
    padding: 0.5rem;
}
.deliver_to{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.country{
    font-size: 1rem;
    margin-left: 4px;
}

.add_icon{
    display: flex;
    align-items: center;
}

/* nav search bar */

.nav-search{
    display: flex;
    align-items: center;
    background-color: blue;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}


.search-select{
    height: 100%;
    width: 50px;
    background-color: #d1cece;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-select:hover{
    background-color: #fffdfd;
    cursor: pointer;
}

.search-input{
    height: 95%;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-input:hover{
    border: 1.5px solid #febd68;
    border-radius: 4px;
    outline: none;
}
input[type = "text"]:focus{
    border: 2.2px solid #febd68;
    border: border-box;
}

.search-icon{
    width: 45px;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button{
    height: 100%;
    width: 100%;
    color: #0f1111;
    border: none;
    font-size: 1.2rem;
    background-color: #febd68;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-button:hover{
    background-color: #f7a841;
    cursor: pointer;
}

/* nav hello & sign-in */

.sign-in{
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}
.nav-first{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* returns & orders */
.returns-orders{
    padding: 0.5rem;
    color: white;
}

/* nav cart */
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.5rem;
}

.nav-cart i{
    font-size: 30px;
}

/* the Panel below navigation bar   (within header)*/
.panel{
    height: 39px;
    width: 100%;
    position: relative;
    top:60px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.panel *{
    color: white;
    font-size: 1.1rem;
}

.panel-all{
    padding: 0.4rem;
}

.panel-options{
    width: 70%;
    display: flex;
}

.panel-options p{
    margin-left: 15px;
    padding: 0.4rem;
}

.deals{
    font-size: 1.2rem;
    font-weight: 690;
    padding: 0.3rem;
}


/* Amazon Ad (just below header) */
.amazon-ad{
    height: 360px;
    background-image: url("other-assets/Amazon-Ad.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 60px;
}

/* the message asking to visit amazon.in */
.message{
    height: 35px;
    width: 95%;
    background-color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    
}
.message a{
    text-decoration: none;
    color: #007185;
}

/* shopping content */

.shop-section-container{
    margin-top: -13px;
    background-color: #9FEEFC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
}


.box{
    height: 370px;
    width: 23%;
    /* border: 2px solid black; */
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    margin: 12px;
}

.box-title{
    width: 91%;
    font-size: 1.4rem;
}

.box-bottom-message{
    display: inline-block; 
    color: #007185;   
}

.box-bottom-message:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.box-img{
    height: 85%;
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.box-img:hover{
    height: 90%;
    width: 100%;
    cursor: pointer;
}

.box-img-1{
    background-image:url("other-assets/PC.jpg") ;
}

.box-img-2{
    background-image:url("other-assets/gadget-store.jpg") ;
}

.box-img-3{
    background-image:url("other-assets/Gaming.jpg") ;
}

.box-img-4{
    background-image:url("other-assets/business-sol.jpg") ;
}

.box-img-5{
    background-image:url("other-assets/car-bike-parts.jpg") ;
}

.box-img-6{
    background-image:url("other-assets/fitness.jpg") ;
}

.box-img-7{
    background-image:url("other-assets/home-appliances.webp") ;
}

.box-img-8{
    background-image:url("other-assets/furniture.jpg") ;
}

/* Footer */

footer{
    margin-top: 20px;
}

.foot-back-to-top{
    height: 50px;
    width: 100%;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-back-to-top:hover{
    cursor: pointer;
    background-color: #2a3543;
}

.foot-final{
    color: white;
    background-color: #222f3d;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.foot-final ul{
    list-style: none;
}

.foot-list-title{
    font-weight: 700;
}

.foot-final ul li{
    margin-top: 7px;
}

.foot-final ul li:hover{
    text-decoration: underline;
}

.foot-final ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
}

/* contact author */

.contact-author{
    height: 30px;
    background-color: black;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-author a{
    color: #007185;
}